<!DOCTYPE html>
<html>
<head>
  <title>Exercise Guide</title>
  <style>
    #video {
      display: none;
    }
  </style>
  <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
</head>
<body>
  <h2>Exercise Guide</h2>
  <video id="video" width="640" height="480" autoplay muted></video>
  <canvas id="canvas" width="640" height="480"></canvas>
  <h1 id="similarity">Similarity: 0</h1>
  <button id="disconnect-btn">Disconnect</button>

  <script src="/static/script.js"></script>
</body>
</html>
